<body>
  

{% if form.errors %}
<p>Usuario o password ingresados no coinciden</p>
{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div id="logueo">
  <div>
    <td>USUARIO</td><br>
    <td>{{ form.username }}</td>
  </div>
  <br>
  <div>
    <td>PASSWORD</td><br>
    <td>{{ form.password }}</td>
  </div>

<br>
<div>
  <input type="submit" value="LOGIN" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</div>
</form>

</div>
<style>
  #logueo{
    font-family: 'Open Sans';
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    margin: 1rem;
  }
  p {
    font-family: 'Open Sans';
  }
  input[type=submit] {

  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}
</style>
  
</body>
