{% extends "base_generic.html" %}

{% block content %}
<div id="wrapper2">
    <h3>Editar {{worksheet.site}} ({{worksheet.oppera}}) </h3>
        <form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form">   
            <h4>Conforme supervisor ingresado el {{ worksheet.cs_date }}</h4>
            {% csrf_token %}   
                <p>{{ form.pendings_date }}Fecha SA</p>
                <p>{{ form.claim_date }}Fecha reclamo de pendientes a ASP</p> 
                <p>{{ form.asp }}ASP </p>
                <p>{{ form.claim_pending_comments }}Comentarios sobre pendientes </p>
                <p>{{ form.ca_date }}Fecha de envío de CA y pendientes </p>
                <p>{{ form.ca_comments }}Comentarios CA y pendientes </p>
                <p>{{ form.ca_pics_link }}Enlace fotos para servidor de Antel</p>
                <p>{{ form.pend_type }}Tipo de pendientes </p>
                <p>{{ form.closed }}Obra cerrada</p>

                <button type="submit" formmethod="post">Enviar</button>
        </form>
</div>
{% endblock content %}

